$background: #060447;
$active: #FFF38A;
$iddle: #827B68;

body, #app {
  margin: 0;
  background: $background;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $active;
  margin-top: 60px;
}

.movie {
  display: flex;
  justify-content: space-between;
  width: 70%;
  min-width: 60rem;
  margin: 8.25rem auto;
  margin-bottom: 6.6rem;
  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .info {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    &__title {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 49px;
    }
    &__synopsis {
      width: 70%;
    }
  }
  .date {
    margin-right: 3.25rem;
    font-family: 'Amethysta';
    font-size: 15rem;
    font-weight: 700;
    line-height: 12rem;
    display: flex;
  }
}

.navbar {
  width: 70%;
  min-width: 60rem;
  margin: 0 auto;
  display: flex;
  &__arrows {
    width: 7.5rem;
    display: flex;
    justify-content: space-between;
  }
  &__timeline {
    position: relative;
    margin-left: 6.25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-dot {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: $active;
      border: 2px solid $iddle;
    }
    &-line {
      position: absolute;
      height: 2px;
      width: 97%;
      left: 1rem;
      background-color: $active;
    }
  }
}
