$background: #060447;
$active: #FFF38A;
$iddle: #827B68;

body, #app {
  margin: 0;
  background: $background;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $active;
  margin-top: 60px;
}

.movie {
  display: flex;
  justify-content: space-between;
  width: 70%;
  min-width: 60rem;
  margin: 8.25rem auto;
  margin-bottom: 6.6rem;

  .description {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .infos-wrapper {
    position: relative;
    .info {
      position: absolute;
      opacity: 1;
      transition: 500ms ease-out all;
      &.right {
        opacity: 0;
        transform: translateX(50px);
      }
      &.left {
        opacity: 0;
        transform: translateX(-50px);
      }
    }
  }

  .info {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    &__title {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 49px;
    }
    &__synopsis {
      width: 80%;
    }
  }

  .date {
    font-family: 'Amethysta';
    font-size: 15rem;
    font-weight: 700;
    line-height: 12rem;
    display: flex;
    .decade, .year {
      width: 135px;
      position: relative;
      .number {
        position: absolute;
        opacity: 1;
        transition: 500ms ease-out all;
        &:not(.active) {
          transform: translateX(50px);
          opacity: 0;
        }
      }
    }
  }

  .image-section {
    width: 422px;
    height: 604px;
    overflow: hidden;
    .poster-wrapper {
      display: flex;
      width: 300%;
      height: 100%;
      left: 0;
      transform: translateX(0);
      transition: transform 500ms ease-out;
      &.active2 {
        transform: translateX(-33.3%);
      }
      &.active3 {
        transform: translateX(-66.6%);
      }
      .poster {
        width: 33.3%;
        height: 100%;
        &.p-1 {
          background-image: url(./assets/MV5BNzVlY2MwMjktM2E4OS00Y2Y3LWE3ZjctYzhkZGM3YzA1ZWM2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@\ 1.png);
        }
        &.p-2 {
          background-image: url(./assets/MV5BYmU1NDRjNDgtMzhiMi00NjZmLTg5NGItZDNiZjU5NTU4OTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@\ 1.png);
        }
        &.p-3 {
          background-image: url(./assets/55c53b944410859376e55edc1ae3ae5b\ 1.png);
        }
      }
    }
  }
}

.navbar {
  width: 70%;
  min-width: 60rem;
  margin: 0 auto;
  display: flex;
  &__arrows {
    width: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    icon {
      display: flex;
      align-items: center;
      path {
        fill: $iddle;
      }
      &.active path {
        fill: $active;
      }
    }
  }
  &__timeline {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    li {
      list-style: none;
      position: relative;
      flex-grow: 1;
      .line {
        &::before, &::after {
          content: '';
          position: absolute;
          background: $active;
          opacity: 0.4;
          height: 2px;
          right: 36px;
          left: 0px;
        }
        &::after {
          opacity: 1;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 500ms ease-out;
        }
      }
      &::after {
        content: '';
        right: 0;
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 2px solid $iddle;
        background: $active;
        opacity: 0.4;
        transform: translateY(-50%);
      }
      &.active {
        &::after {
          opacity: 1;
          transition-delay: 500ms;
        }
        .line {
          &::after {
            transform: scaleX(1);
          }
        }
      }
      &:first-child {
        .line {
          &::before, &::after {
            content: none;
          }
        }
      }
    }
  }
}
